@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


:root {
  --color-text: #FFFCF9;
  --color-greenblue: #B1EDE8;
  --color-pink: #FF6978;
  --color-bluebolita: #7F95D1;
  --color-darkest: #000000;
}

body {
  background-color: var(--color-darkest);
  font-family: monospace;
}